.projects {
  padding: 1rem 1.5rem;
  background-color: var(--bg-primary);

  @include for-medium {
    padding: 1rem 12rem;
  }
}

.projects-wrapper {
  @include for-medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.project {
  margin: 1rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__image {
    height: 26rem;
    width: 100%;
    display: block;
  }

  &__title {
    margin: 1.3rem;
    color: var(--text-heading);
  }

  &__description {
    margin: 1.3rem;
    font-size: 1.4rem;
    color: var(--text-grey);
  }

  &__buttons {
    margin-top: 2rem;
    margin-left: 1.3rem;
  }

  @include for-medium {
    flex: 0 0 calc(50% - 1.5rem);
    margin: 0;
    margin-bottom: 2.5rem;
  }

  @include for-large {
    flex: 0 0 calc(33.333% - 1.5rem);
  }
}
